.Registro {
    width: 50%;
    margin: 0 auto; 
    border-collapse: collapse; 
    background-color: #a09b9b;
    padding: 40px;
    text-align: center;
    color: #fff;
    max-width: 1200px;

  }

  .col-12 {
    margin-right: 20px;
    font-size: 24px; 
    animation-duration: 1s; 
    animation-name: bounce; 
    animation-iteration-count: infinite; 
  }

